
/* Login Form css Start */

*
{
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image/bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.border{
    /* background-color:#b5b6b5 ; */
    margin-top: 101px;
    margin-right: 50%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.navigation a{
    position: relative;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    margin-left: 40px;

}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform:scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform:scaleX(1);
    transform-origin: left;

}

.navigation .btnlogin-popup{
    width: 220px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnlogin-popup:hover{
    background: #77975b;
    color: #162938;
}

.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active {
    height: 520px;

}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
    background-color: #77975b;
}

.form-box h2{
    font-size: 2rem;
    color: #162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events:none;
    transition: .5s;

}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}
.input-box  input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 400;
    padding: 0 35px 0 5px;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}

.mouseHover{
    color: white
}

.mouseHover:hover{
    color: red;
}

/* Login Form css End */

/* Registration Form css Start */


        input[type=text],input[type=password],input[type=email],input[type=number], select, textarea {
        width: 100%; 
        padding: 12px;
        /* border: 1px solid #ccc;  */
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        /* margin-bottom: 16px;  */
        resize: vertical;
      }

      .btnlogin-popup{
          color: white;
          padding: 10px 20px 10px 20px ;
          width: 120px;
          height: 50px;
          background: transparent;
          border: 2px solid #fff;
          border-radius: 6px;
          cursor: pointer;
          font-size: 1.1rem;
          margin-left: 10px;
          transition: .5s;
          text-decoration: none;
      }
      .btnlogin-popup:hover{
          background: #77975b;
          color: #162938;
      } 

      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }

      .error {
        color: red;
        font-size: 13px;
    }

/* Registration Form css End */